# This file is used to set environment variables for the frontend and Backend application.
# It is recommended to use a .env.example file for local development and set the environment variables in your production environment.
# The variables in this file are used to configure the application and should be kept secret.

# SECRET_KEY="scecret-key" is used to sign the JWT tokens for authentication. 
# It should be a long, random string and kept secret.
SECRET_KEY=change-me-generate-a-random-value

# ALGORITHM is used to specify the algorithm for signing the JWT tokens.
ALGORITHM="HS256"

# ACCESS_TOKEN_EXPIRE_MINUTES is used to specify the expiration time for access tokens.
ACCESS_TOKEN_EXPIRE_MINUTES=120

# EMBEDDING_VECTOR_DB_DIM is used to specify the dimensionality of the embedding vector database.
EMBEDDING_VECTOR_DB_DIM=768

# Define Docker service names for frontend, backend, OLLAMA, and database.
DOCKER_BE_SERVICE_NAME=kiko-backend-service
DOCKER_FE_SERVICE_NAME=kiko-frontend-service
DOCKER_DB_SERVICE_NAME=kiko-db-service
DOCKER_OLLAMA_SERVICE_NAME=kiko-ollama-service

# Define ports for frontend, backend, OLLAMA, and database
# These ports are used to access the services in the Docker environment.

# FRONTEND_PORT is used to specify the port for the frontend service.
FRONTEND_PORT=8003
# BACKEND_PORT is used to specify the port for the backend service.
BACKEND_PORT=8004
# DATABASE_HOST_PORT is used to specify the port for the database service.
DATABASE_HOST_PORT=8005
# POSTGRES_DATABASE_PORT is used to specify the port for the PostgreSQL database.
POSTGRES_DATABASE_PORT=5432
# OLLAMA_HOST_PORT is used to specify the port for the OLLAMA service.
OLLAMA_HOST_PORT=8006
# OLLAMA_PORT is used to specify the port for the OLLAMA API.
OLLAMA_PORT=11434

# Define database connection details
POSTGRES_USER=kiko
POSTGRES_PASSWORD=change-me
POSTGRES_DB=kiko-platform

# define backend api, Database and OLLAMA URLs
BACKEND_API_URL=http://${DOCKER_BE_SERVICE_NAME}:${BACKEND_PORT}
DOCKER_OLLAMA_URL=http://${DOCKER_OLLAMA_SERVICE_NAME}:${OLLAMA_PORT}
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DOCKER_DB_SERVICE_NAME}:${POSTGRES_DATABASE_PORT}/${POSTGRES_DB}

# Hugging Face Hub token for accessing private models
# Get your token from https://huggingface.co/settings/tokens
# Please keep this token secret and do not share it publicly.
# Required for accessing private models from Hugging Face Hub. 
#You can generate a token by visiting the Hugging Face website and navigating to your account settings. 
# Once you have generated a token, replace [YOUR_HUGGINGFACE_HUB_TOKEN] with your actual token value in this file.
HUGGINGFACE_HUB_TOKEN=[YOUR_HUGGINGFACE_HUB_TOKEN]

# Embedding model name
EMBEDDING_MODEL_NAME=nomic-embed-text:v1.5

# VLM model name
VLM_MODEL_NAME=qwen2.5vl:7b

# Ollama LLM Generation models
LLAMA_LLM_GENERATION_MODEL_NAME=llama3.3:70b
NEMOTRON_LLM_GENERATION_MODEL_NAME=nemotron:70b
KIMI_LLM_GENERATION_MODEL_NAME=kimi-k2:1t-cloud

# Ollama LLM Inference models
DEEPSEEK_LLM_GRADING_INFERENCE_MODEL_NAME=deepseek-r1:70b
NEMOTRON_LLM_GRADING_INFERENCE_MODEL_NAME=nemotron-3-super:120b
